.AnswerItem{
    border: 1px solid white;
    margin: 5px;
    border-radius: 5px;
    padding: 5px;  
}
.AnswerItem:hover{
    background: rgba(255, 255, 255, .2);
}
.AnswerItem.succes{
    background: green;
}
.AnswerItem.wrong{
    background: red;
}